*{
    padding : 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    width : 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #003716 0.000%, #004d00 25.000%, #007103 50.000%, #00a331 75.000%, #00e07c 100.000%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel{
    width : 90%;
    height: 80%;
    background-color: grey;
    border-radius: 30px;
    overflow: hidden;
    border: 10px solid black;
}

#top_panel{
    width : 100%;
    height: 10vh;
    background: linear-gradient(225deg, #003716 0.000%, #004d00 25.000%, #007103 50.000%, #00a331 75.000%, #00e07c 100.000%);
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.elem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    height: 4vh ;
    width : 30vb;
    background-color: black;
    border-radius: 10px;
    color : white;
    display: flex;
    align-items: center;
    justify-content: center;
}




#panel_bottom{
    width : 100%;
    height: calc(100% - 10vh);
    background-color:black;
    padding: 20px;
    display : flex;
    flex-wrap: wrap;
    gap : 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bubble{
    width : 4%;
    height : calc(90% / 10);
    background-color: rgb(58, 131, 58);
    border-radius: 50%;
    font-size: xx-large;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bubble:hover{
    background-color: rgb(54, 99, 54);
    cursor: pointer;
}

#start_btn{
    width : 20vb;
    height : 5vh;
    background: linear-gradient(225deg, #003716 0.000%, #004d00 25.000%, #007103 50.000%, #00a331 75.000%, #00e07c 100.000%);
    color : black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10vh;
    border: 3px solid black;
}

#game_over_message{
    color : green;
    font-size: 70px;
}
#restart_btn{
    width : 20vb;
    height : 5vh;
    background: linear-gradient(225deg, #003716 0.000%, #004d00 25.000%, #007103 50.000%, #00a331 75.000%, #00e07c 100.000%);
    color : black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10vh;
    border: 3px solid black;
}