*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: brown;
}

#main{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card{
    width : 40vw;
    height:70vh;
    background: linear-gradient(45deg, #4159d0 0.000%, #c84fc0 50.000%, #ffcd70 100.000%);
    border: 3px solid palevioletred;
    border-radius: calc(3vw)
}

#search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin : calc(6vh);
}
input{
    height : 5vh;
    width: 42vb;
    padding : 3%;
    margin: 3%;
    border-radius: calc(20vh);
}
#search_icon{
    width : 5vb;
    height : 5vh;
    border-radius: calc(30%);
    cursor: pointer;
}

#weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#weather_image{
    width:30vb;
    height:30vh;
    margin-bottom: calc(4vh);
}

#theme{
    width: 4vw;
    height: 5vh;
    border: black calc(0.4vh) solid;
    border-radius: calc(2vh);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh;
}

#theme img{
    width: 3vw;
    height: 4vh;
}